{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static "profile.css" %}">

{% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.tags}} my-3 w-50 m-auto" role="alert">{{ msg }}</div>
    {% endfor %}
{% endif %}

<div class="container mt-5">
    
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-7">
            
            <div class="card p-3 py-4">
                
                <div class="text-center">
                    <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle">
                </div>
                
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">{{request.user.username}}</span>
                    <h5 class="mt-2 mb-0">{{request.user.first_name}} {{request.user.last_name}}</h5>
                    <span>Student</span>
                    
                    <div class="px-4 mt-1">
                        <h3 class='text-secondary'>Total Books Borrowed: {{books | length}}</h3>
                    
                    </div>
                    
                    <div class="buttons">
                        
                        <button class="btn btn-outline-primary px-4">Message</button>
                        <button class="btn btn-primary px-4 ms-3">Contact</button>
                    </div>
                    
                    
                </div>
          
            </div>
            
        </div>
        
    </div>
</div>

<section class="intro mt-3 ">
    <h4 class='text-center text-primary'>Borrowed Books</h4>
    <div class="bg-image h-100 shadow mb-5 mt-2" style="background-color: #6095F0;">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="cards shadow-2-strong" style="background-color: #f5f7fa;">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-border mb-0">
                      <thead>
                        <tr>
                          <th scope="col">Book Title</th>
                          <th scope="col">Borrowed Date</th>
                          <th scope="col">Returned date</th>
                          <th scope='col'>price</th>
                          <th scope='col'>Review</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for book in books %}
                        <tr>
                          
                            <td>{{book.book.title}}</td>
                            <td>{{book.borrowed_date}}</td>
                            {% if book.return_date %}
                            <td class='text-success'>{{ book.return_date }}</p>
                            {% else %}
                            <td class='text-danger'>Not returned</td>
                            {% endif %}

                            <td>{{book.book.borrow_price}}</td>
                            <td><a href="{% url 'details' book.book.id %}" class="btn btn-sm btn-info text-white">Give Review</a></td>
                            <td>
                              {% if book.returned %}
                              <a href="" class="btn btn-success btn-sm px-3">
                                Returned
                              </a>
                              {% else %}
                              <a href="{% url "return" book.book.id %}" class="btn btn-danger btn-sm px-3">
                                Return
                              </a>
                              {% endif %}
                            </td>
                          </tr>
                        
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content%}