{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<link rel="stylesheet" href="{% static "details.css" %}">
{% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.tags}} my-3 w-50 m-auto" role="alert">{{ msg }}</div>
    {% endfor %}
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="book-image-container">
                <img src="{{ book.image.url }}" class="img-fluid rounded shadow" alt="{{ book.title }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="book-details-container p-4 shadow rounded">
                <h1 class="display-4">{{ book.title }}</h1>
                <h3 class="text-muted">{{ book.get_category_display }}</h3>
                <p class="lead mt-4">{{ book.description }}</p>
                <p class="h4 text-success mt-4">${{ book.borrow_price }}</p>
                {% if request.user.is_authenticated %}
                <a href="{% url 'buy' book.id %}" class="btn mt-4" style='background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);color:white'>Borrow</a>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="review-section d-flex row my-5 gap-5">
        <div class="reviews col-md-5">
            <h4>Reviews:</h4>
            {% for review in reviews %}
            <div class="review">
                <h5>{{ review.user.username }}</h5>
                <p>Rating: {{ review.rating }}</p>
                <p>{{ review.review }}</p>
            </div>
            {% empty %}
            <p class="no-reviews">No reviews yet. Be the first to review this book!</p>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated and is_borrowed %}
        <form  method='post'  class='shadow rounded my-2 col-md-6 p-3'>
            {% csrf_token %}
            <!-- {{form | crispy}}-->
            {% for fm in form %}
            {{fm.label_tag}}
            {{fm}}
            {{fm.errors | striptags}}
            <br>
            {% endfor %}
            <button type="submit" class='btn' style='background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);color:white'>Add</button>
        </form>
    </div>
</div>

{% endif %}
{% endblock content %}